<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="includes/head::head"></head>
    <header th:replace="includes/headerLogged::headerLogged"></header>
    <body>

        <div class="container adjust-top">
            <div class="path-nav">
                <a th:href="@{/ui/menuPrincipal}">Accueil</a>
                >
                <a th:href="@{/ui/voirEvenements}">&Eacute;vènements</a>
                >
                <a th:href="@{/ui/voirEvenementPrive/{id}(id=${evenement.id})}">Détails de l'évènement privé</a>
                >
                <a href="#">Modification de l'évènement privé</a>
            </div>
            <div class="row">
                <div class="top-page">
                        <h4 class="page-title">Modification de la soirée</h4>
                        <a th:href="@{/ui/voirEvenementPrive/{id}(id=${evenement.id})}" class="btn waves-effect waves-light btn green-theme page-title-button btn-modal-choix" name="action">Annuler</a>
                    <h4 class="page-title">Modification de l'évènement privé</h4>
                </div>

                <div class="col s12 m12 l12">
                    <div class="card-panel">
                        <h5 class="panel-information">Informations</h5>
                        <div class="row form-log">
                            <form th:action="@{/ui/modifierEvenement}" method="post" th:object="${evenement}" class="col s12">
                                <div class="row form-theme">
                                    <div class="input-field col s12">
                                        <input type="text" th:value="${evenement.nom}" name="nom" id="nom" min="3" max="200" required/>
                                        <label for="nom">Nom de l'évènement</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input type="text" th:value="${evenement.lieu}" name="lieu" id="lieu" min="3" max="200" required/>
                                        <label for="lieu">Lieu de l'évènement</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input type="text" th:value="${evenement.dateEvenement}" class="datepicker" name="dateEvenement" id="dateEvenement" required/>
                                        <label for="dateEvenement">Date de l'évènement</label>
                                    </div>
                                    <input type="hidden" th:value="${evenement.id}" name="id" id="id" class="w3-input"/>
                                    <div class="input-field col s12">
                                        <input class="btn green-theme waves-effect waves-light right" type="submit" value="Enregistrer">
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </body>
    <script type="application/javascript">
        $(document).ready(function() {
            inter_fr = {
                cancel: 'Annuler',
                clear: 'RàZ',
                done:    'Valider',
                previousMonth:    '‹',
                nextMonth:    '›',
                months:    [
                    'Janvier',
                    'Février',
                    'Mars',
                    'Avril',
                    'Mai',
                    'Juin',
                    'Juillet',
                    'Août',
                    'Septembre',
                    'Octobre',
                    'Novembre',
                    'Décembre'
                ],
                monthsShort:    [
                    'Jan',
                    'Fév',
                    'Mar',
                    'Avr',
                    'Mai',
                    'Jun',
                    'Jul',
                    'Aou',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ],

                weekdays:    [
                    'Dimanche',
                    'Lundi',
                    'Mardi',
                    'Mercredi',
                    'Jeudi',
                    'Vendredi',
                    'Samedi'
                ],

                weekdaysShort:    [
                    'Dimanche',
                    'Lundi',
                    'Mardi',
                    'Mercredi',
                    'Jeudi',
                    'Vendredi',
                    'Samedi'
                ],

                weekdaysAbbrev:    ['D', 'L', 'M', 'M', 'J', 'V', 'S']
            };

            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd',
                selectYears: 120,
                i18n: inter_fr
            });
        });
        /*
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.datepicker');
            var options = {
                format: 'dd/mm/yyyy'
            };
            var instances = M.Datepicker.init(elems, options);
        });*/
    </script>
</html>
